.align_right{
    display: flex;
    justify-content: end;
}
.margin_top{
    margin-top: 20px;
}
.padding_row{
    padding: inherit;
}
.tittle{
    background: rgb(233, 233, 233);
    border-radius: 3px;
    color: rgb(32, 32, 32);
}